@font-face{
    font-family:"Raleway";
    src:url('../fonts/Raleway-Regular.ttf');
}

a,a:hover{
	text-decoration:none;
	cursor: pointer;
}
.admin-form .panel{
	border:none;
	border-top:10px solid #3498DB;
}

body{
    font-family:"Raleway","Open Sans","Sans-Serif" !important;
}

body.external-page #content .admin-form {
	max-width:400px;
}

body.external-page #content .panel {
	border-top-color: #3498DB;
}
body.external-page #content .admin-form {
	position: relative;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 8%;
}
body.external-page #main {
	background: url("../img/login.jpg") no-repeat top center #2d494d;
}
div.row.mb15.table-layout h1.h1-logo {
	font-size: 3em;
	color: #000;
}

div.row.mb15.table-layout h1.h1-logo > small {
	color: #ededed;
}

.sidebar-menu > li {
	margin: 15px 0;
}

.navbar-branding a.navbar-brand{
	padding-left:7px;
}

#toggle_sidemenu_l{
	width:60px;
}

.borderedBackground{
	background: url('../img/diagonal-line-bg-light.png');
	background-repeat: repeat;
}

.f-center{
	text-align: center;
}

.alignLeft{
	text-align: left;
}

.alignRight{
	text-align: right;
}

.f-left{
	float:left;
}

.f-right{
	float:right;
}

a,a:hover{
	text-decoration: none;
}

#news {
	background: url('../img/diagonal-line-bg-light.png') repeat fixed;
	/*background-size:cover;*/
	/*background-color: #fff;*/
}

.whiteBack {
	background-color: #fff;
	z-index: 1000;
}

#news p {
	/*color:#000;*/
	/*font-weight: 700;*/
	background-color: rgba(255,255,255,.3);
	padding:20px 10px;
}

#news p{
	word-break: break-all;
	word-wrap: break-word;
}
#news pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: transparent;
	border: none;
	/*border-radius: 4px;*/
}