{% extends 'in264/layout/head.twig' %}
{% block content %}
    <section id="content" class="table-layout animated fadeIn">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-md-8">
                    <div class="f-center">
                        <i class="imoon imoon-newspaper imoon-5x"></i>
                        <h1> Create News</h1>
                        <p>Please verify before execute !</p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="panel" style="border:6px solid rgba(204, 204, 204,0.5)">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="imoon imoon-quill"></i> Input Informations</span>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="post">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <span class="append-icon right"><i class="imoon imoon-quill"></i></span>
                                        <input type="text" name="contentTitle" class="form-control" placeholder="Input Title" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        {#<span class="append-icon right"><i class="fa fa-user"></i></span>#}
                                        <textarea id="contentNews" name="contentNews"></textarea>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom:0 !important;">
                                    <div class="col-lg-12">
                                        <span class="text-danger"><i class="fa fa-exclamation-circle"></i> This editor does not provide auto save.</span>
                                        <input type="submit" class="btn btn-primary pull-right" value="Add News">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-2">
                &nbsp;
            </div>

        </div>






        </div>
    </section>
{% endblock %}

{% block customJS %}

    {#<script>#}
        {#tinymce.init({#}
            {#selector: '#contentNews'#}
        {#});#}
    {#</script>#}

{% endblock %}